body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#gamefield {
    position: absolute; /* or absolute */
    top: 50%;
    left: 50%;
    width: 401px;
    height: 401px;
    margin: -200px 0 0 -200px;
    background: white;
    padding: 0;
    font-size: 0;
    border-right-color: #0099ff;
    border-right-width: 1px; 
    border-right-style: solid;
    border-bottom-color: #0099ff;
    border-bottom-width: 1px; 
    border-bottom-style: solid;
}

#player1 {
    position: relative;
    margin-left: 80px;
    float: left;
    top: 100px; 
}

#player2 {
    position: relative;
    margin-right: 80px;
    float: right;
    top: 100px; 
}

#gamefield div {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: #0099ff;
    border-right-color: white;
    border-bottom-width: 0; 
}

#menu {
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    min-width: 200px;
}

#menu p {
    display: inline;
}

h2 {
    font-size: 5em;
    text-align: center;
    color: #0099ff;
}