* {box-sizing: border-box;}

body {
  background: #e6f4fd;
  font-family: 'Roboto', sans-serif;
}

html {
  min-width: 800px;
}

.ui-form {
  max-width: 350px;
  padding: 80px 30px 30px;
  margin: 50px auto 30px;
  background: white;
}

.ui-form h3 {
  position: relative;
  z-index: 5;
  margin: 0 0 60px;
  margin-left: 3px;
  text-align: right;
  color: #4a90e2;
  font-size: 30px;
  font-weight: normal;
}

.ui-form h3:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -15px;
  top: -27px;
  width: 120px;
  height: 120px;
  background: url('img/cross.png') no-repeat;
}

.form-row {
  position: relative;
  margin-bottom: 40px;
}

.form-row input {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  background: none;
  border-width: 0;
  border-bottom: 2px solid #4a90e2;
  transition: all 0.2s ease;
}

.form-row label {
  position: absolute;
  left: 13px;
  color: #9d959d;
  font-size: 20px;
  font-weight: 300;
  transform: translateY(-35px);
  transition: all 0.2s ease;
}

.form-row input:focus {
  outline: 0;
  border-color: #F77A52;
}

.form-row input:focus + label, 
.form-row input:valid + label {
  transform: translateY(-60px);
  margin-left: -14px;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
  border-color: #F77A52;
  color: #F77A52;
}

.ui-form input[type="submit"] {
  width: 100%;
  padding: 0;
  line-height: 42px;
  background: #4a90e2;
  border-width: 0;
  color: white;
  font-size: 20px;
}

.ui-form p {
  margin: 0;
  padding-top: 10px;
}

a:hover {
  color: white;
}

#scorebox {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 350px;
  top: 150px;
  background: white;
  padding: 20px;
}

h1 {
  color: #4a90e2;
  font-size: 1.5em;
  text-align: center;
}

.score {
  color: #4a90e2;
  font-size: 1.2em;
  display: block;
  width: 100%;
}

